<script type="text/javascript">
function redirectLogout (username) {
    window.onload = window.location.replace("https://idp.iamlab.ibm.com/mga/sps/authsvc/policy/custompassword?request=logoutUser&user="+username+"&customPasswordToken="+token);
}
</script>


<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Redirect to Custom Password logout</title>
</head>
<script type="text/javascript">
user="%USERNAME%";
token="%CREDATTR{customPasswordToken}%";
token=encodeURIComponent(token);
</script>
<body bgcolor="#FFFFFF" text="#000000" onLoad="redirectLogout(user);">
<font size="+2"><b>Redirecting....</b></font>
</body>
</html>